header {
  margin: 0 auto;
  max-width: 975px;
  height: 54px;

  .nav-btns {
    gap: 22px;

    img {
      width: 22px;
    }

    .profile {
      border-radius: 50%;
      height: 22px;
    }
  }
}
