header {
  position: sticky;
  top: 0;
  height: 54px;
  background-color: $clr6;
  border-bottom: 1px solid $clr3;

  .nav-btns {
    gap: 22px;

    img {
      width: 22px;
    }

    .profile {
      border-radius: 50%;
      height: 22px;
    }
  }
}
