.post-preview {
  max-width: 600px;
  font-size: rem(14px);
  background-color: $clr6;
  border: 1px solid $clr3;
  margin: 0 auto 25px;

  .post-header {
    padding: 14px 16px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .post-info {
      margin-left: 14px;

      .username-post {
        font-weight: bold;
      }
    }
  }

  .post-uploads {
  }

  .post-activities {
    height: 54px;
    padding: 6px 8px 6px 16px;

    .action {
      padding: 8px;

      &:hover {
        svg {
          fill: $clr2;
        }
      }

      svg {
        color: $clr1;
        width: 24px;
      }
    }
  }

  .post-bottom {
    padding: 0 16px;

    .likes {
      margin-bottom: 7px;
    }

    .comments {
      margin-bottom: 10px;

      .user-txt {
        span {
          margin-right: 5px;
        }
      }

      .view-all {
        color: $clr2;
      }
    }

    .post-time {
      color: $clr2;
      text-transform: uppercase;
      font-size: rem(10px);
      margin-bottom: 16px;
    }
  }

  .post-add-comment {
    border-top: 1px solid $clr5;
  }
}
