// Colors
$clr1: #262626;
$clr2: #8e8e8e;
$clr3: #dbdbdb;
$clr4: #fafafa;
$clr5: #efefef;
$clr6: #ffffff;

//Main Colors
$like-color: #ed4956;

$primary-color: #0073ea;
$primary-hover-color: #0060b9;
$primary-selected-color: #cce5ff;
$primary-text-color: #323338;
$primary-selling-color: #2b2c5d;
$positive-color: #258750;
$private-color: #f65f7c;
$shareable-color: #a25ddc;
$login-color: #4353ff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
