// Colors
$clr1: #292f4c;
$clr2: #323338;
$clr3: #fafafa;
$clr4: #6a6e82;
$clr5: #cce5ff;
$clr6: #f5f6f8;
$clr7: #fff;

//Main Colors
$primary-color: #0073ea;
$primary-hover-color: #0060b9;
$primary-selected-color: #cce5ff;
$primary-text-color: #323338;
$primary-selling-color: #2b2c5d;
$positive-color: #258750;
$negative-color: #d83a52;
$private-color: #f65f7c;
$shareable-color: #a25ddc;
$login-color: #4353ff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
